<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->

<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->

<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->

<!-- BEGIN HEAD -->

<head>

	<meta charset="utf-8" />

	<title>Metronic | Login Page</title>

	<meta content="width=device-width, initial-scale=1.0" name="viewport" />

	<meta content="" name="description" />

	<meta content="" name="author" />

	<!-- BEGIN GLOBAL MANDATORY STYLES -->

	<link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>

	<link href="../static/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>

	<link href="../static/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

	<link href="../static/css/style-metro.css" rel="stylesheet" type="text/css"/>

	<link href="../static/css/style.css" rel="stylesheet" type="text/css"/>

	<link href="../static/css/style-responsive.css" rel="stylesheet" type="text/css"/>

	<link href="../static/css/default.css" rel="stylesheet" type="text/css" id="style_color"/>

	<link href="../static/css/uniform.default.css" rel="stylesheet" type="text/css"/>

	<!-- END GLOBAL MANDATORY STYLES -->

	<!-- BEGIN PAGE LEVEL STYLES -->

	<link href="../static/css/login.css" rel="stylesheet" type="text/css"/>

	<!-- END PAGE LEVEL STYLES -->

	<link rel="shortcut icon" href="../static/image/favicon.ico" />

</head>

<!-- END HEAD -->

<!-- BEGIN BODY -->

<body class="login">

	<!-- BEGIN LOGO -->

	<div class="logo">

		<img src="../static/image/logo-big.png" alt="" />

	</div>

	<!-- END LOGO -->

	<!-- BEGIN LOGIN -->

	<div class="content">

		<!-- BEGIN LOGIN FORM -->

		<form class="form-vertical login-form"  >
			{% csrf_token %}
			<h3 class="form-title">登录</h3>

			<div class="alert alert-error hide">

				<button class="close" data-dismiss="alert"></button>

				<span>输入用户名和密码.</span>

			</div>

			<div class="control-group">

				<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->


				<div class="controls">

					<div class="input-icon left">

						<i class="icon-user"></i>

						<input class="m-wrap placeholder-no-fix" type="text" placeholder="用户名" name="username" id="username"/>

					</div>

				</div>

			</div>

			<div class="control-group">

				<div class="controls">

					<div class="input-icon left">

						<i class="icon-lock"></i>

						<input class="m-wrap placeholder-no-fix" type="password" placeholder="密码" name="password" id="password"/>

					</div>

				</div>

			</div>

			<div class="form-actions">

				<label class="checkbox">

				<input type="checkbox" name="remember" value="1"/> 记住我

				</label>

				<button type="submit" class="btn green pull-right" onclick="login()">

				登录 <i class="m-icon-swapright m-icon-white"></i>

				</button>            

			</div>

			<div class="forget-password">

				<h4>忘记密码 ?</h4>

				<p>

					no worries, click <a href="javascript:;" class="" id="forget-password">here</a>

					to reset your password.

				</p>

			</div>

			<div class="create-account">

				<p>

					&nbsp;

					<a href="javascript:;" id="register-btn" class="">Create an account</a>

				</p>

			</div>

		</form>

		<!-- END LOGIN FORM -->        

		<!-- BEGIN FORGOT PASSWORD FORM -->

		<form class="form-vertical forget-form"  >
			{% csrf_token %}

			<h3 class="">Forget Password ?</h3>

			<p>Enter your e-mail address below to reset your password.</p>

			<div class="control-group">

				<div class="controls">

					<div class="input-icon left">

						<i class="icon-envelope"></i>

						<input class="m-wrap placeholder-no-fix" type="text" placeholder="Email" name="email" />

					</div>

				</div>

			</div>

			<div class="form-actions">

				<button type="button" id="back-btn" class="btn">

				<i class="m-icon-swapleft"></i> Back

				</button>

				<button type="submit" class="btn green pull-right">

				提交<i class="m-icon-swapright m-icon-white"></i>

				</button>            

			</div>

		</form>

		<!-- END FORGOT PASSWORD FORM -->

		<!-- BEGIN REGISTRATION FORM -->

		<form class="form-vertical register-form"  >
			{% csrf_token %}
			<h3 class="">注册</h3>


			<div class="control-group">

				<label class="control-label visible-ie8 visible-ie9">用户名</label>

				<div class="controls">

					<div class="input-icon left">

						<i class="icon-user"></i>

						<input class="m-wrap placeholder-no-fix" type="text" placeholder="用户名" name="username" id="res_username"/>

					</div>

				</div>

			</div>

			<div class="control-group">

				<label class="control-label visible-ie8 visible-ie9">密码</label>

				<div class="controls">

					<div class="input-icon left">

						<i class="icon-lock"></i>

						<input class="m-wrap placeholder-no-fix" type="password"  placeholder="密码" name="password" id="res_password"/>

					</div>

				</div>

			</div>

			<div class="control-group">

				<label class="control-label visible-ie8 visible-ie9">确认密码</label>

				<div class="controls">

					<div class="input-icon left">

						<i class="icon-ok"></i>

						<input class="m-wrap placeholder-no-fix" type="password" placeholder="确认密码" name="rpassword"/>

					</div>

				</div>

			</div>

			<div class="control-group">
                <div class="control-group">

				<label class="control-label visible-ie8 visible-ie9">id</label>

				<div class="controls">

					<div class="input-icon left">

						<i class="icon-user"></i>

						<input class="m-wrap placeholder-no-fix" type="text" placeholder="用户id"   id="res_id"/>

					</div>

				</div>

			</div>

				<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->

				<label class="control-label visible-ie8 visible-ie9">邮箱</label>

				<div class="controls">

					<div class="input-icon left">

						<i class="icon-envelope"></i>

						<input class="m-wrap placeholder-no-fix" type="text" placeholder="邮箱" name="email" id="res_email"/>

					</div>

				</div>

			</div>


			<div class="form-actions">

				<button id="register-back-btn" type="button" class="btn">

				<i class="m-icon-swapleft"></i>  返回

				</button>
                	<a href="javascript:register()" class="btn green pull-right">注册</a>
				<button type="submit" id="register-submit-btn" class="btn green pull-right">

				注册 <i class="m-icon-swapright m-icon-white"></i>

				</button>            

			</div>

		</form>

		<!-- END REGISTRATION FORM -->

	</div>

	<!-- END LOGIN -->

	<!-- BEGIN COPYRIGHT -->

	<div class="copyright">

		2013 &copy; Metronic. Admin Dashboard Template.

	</div>

	<!-- END COPYRIGHT -->

	<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->

	<!-- BEGIN CORE PLUGINS -->

	<script src="../static/js/jquery-1.10.1.min.js" type="text/javascript"></script>

	<script src="../static/js/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>

	<!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->

	<script src="../static/js/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>

	<script src="../static/js/bootstrap.min.js" type="text/javascript"></script>

	<!--[if lt IE 9]>

	<script src="media/js/excanvas.min.js"></script>

	<script src="media/js/respond.min.js"></script>  

	<![endif]-->   

	<script src="../static/js/jquery.slimscroll.min.js" type="text/javascript"></script>

	<script src="../static/js/jquery.blockui.min.js" type="text/javascript"></script>

	<script src="../static/js/jquery.cookie.min.js" type="text/javascript"></script>

	<script src="../static/js/jquery.uniform.min.js" type="text/javascript" ></script>

	<!-- END CORE PLUGINS -->

	<!-- BEGIN PAGE LEVEL PLUGINS -->

	<script src="../static/js/jquery.validate.min.js" type="text/javascript"></script>

	<!-- END PAGE LEVEL PLUGINS -->

	<!-- BEGIN PAGE LEVEL SCRIPTS -->

	<script src="../static/js/app.js" type="text/javascript"></script>

	<script src="../static/js/login.js" type="text/javascript"></script>

	<!-- END PAGE LEVEL SCRIPTS --> 
	
	<script>
		jQuery(document).ready(function() {

		  App.init();

		  Login.init();

		});
		function register(){
		     var res_email=$('#res_email').val();
		     var res_username=$('#res_username').val();
		     var res_password=$('#res_password').val();
             var res_id=$('#res_id').val();
		     $.ajax({
				type:'post',
				url:'login',
				data:'&res_email='+res_email+'&res_username='+res_username+'&res_password='+res_password+'&type='+"1"+'&res_id='+res_id,
				success : function success(data)
						{
							if (data == "failed")
							  alert("重复用户名");
							else  {
								alert("成功");
							}
						},
				error : function error()
				{
					swal('数据发送失败','请检查网络连接','error');
				}
			});
		}
        function login(){
		     var username=$('#username').val();
		     var password=$('#password').val();
		     $.ajax({
				type:'post',
				url:'login/kkk/',
				data:'&username='+username+'&password='+password+'&type='+"2",
				success : function success(data)
						{
							if (data.status == "failed")
							  alert(data.reason);
							if (data.status == "success") {
								alert(data.reason);
							}
						},
				error : function error()
				{
					swal('数据发送失败','请检查网络连接','error');
				}
			});
		}
	</script>

	<!-- END JAVASCRIPTS -->

</body>

<!-- END BODY -->

</html>
