<!DOCTYPE html>
<html>

<body style="background-color:#FFF0F5">
<h2> 上传引导语 </h2>
<h3> 请在此界面上传患者答错题目时的引导语 </h3>
<form action='/guide_upload/' method='post' enctype='multipart/form-data'>
	{% csrf_token %}
	<p style="position:absolute;left:20%;top:25%"> 正确答案 <input type="text" name="right" style="height:20px;width:100px;"> </p>
	<p style="position:absolute;left:50%;top:25%"> 被点错的物品名称 <input type="text" name="wrong" style="height:20px;width:100px;"></p>
	<p style="position:absolute;left:30%;top:45%"> 引导语 <input type="text" name="guide" style="height:20px;width:300px;"></p>
	<p style="position:absolute;left:42%;top:53%"><input type="submit" value="上传"></p>
</form>
	
</body>
</html>
