<html>
<body>
<video id="video" width="640" height="480" autoplay></video>
<canvas id="canvas" width="640" height="480"></canvas>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<script>
    window.onload = function () {
        var HH = 0;
        var mm = 0;
        var ss = 0;
        var str = '';
        var aVideo = document.getElementById('video');
        var aCanvas = document.getElementById('canvas');
        var ctx = aCanvas.getContext('2d');

        navigator.getUserMedia = navigator.getUserMedia ||
            navigator.webkitGetUserMedia ||
            navigator.mozGetUserMedia ||
            navigator.msGetUserMedia;//获取媒体对象（这里指摄像头）
        navigator.getUserMedia({video: true}, gotStream, noStream);//参数1获取用户打开权限；参数二成功打开后调用，并传一个视频流对象，参数三打开失败后调用，传错误信息

        function gotStream(stream) {
            video.src = URL.createObjectURL(stream);
            video.onerror = function () {
                stream.stop();
            };
            stream.onended = noStream;
            video.onloadedmetadata = function () {
                {#alert('摄像头成功打开！');#}
            };
        }

        function noStream(err) {
            alert(err);
        }

        var timer = setInterval(function () {
            str = "";
            if (++ss == 60) {
                if (++mm == 60) {
                    HH++;
                    mm = 0;
                }
                ss = 0;
            }
            <!-- str+=HH<10?"0"+HH:HH; -->
            <!-- str+=":"; -->
            <!-- str+=mm<10?"0"+mm:mm; -->
            <!-- str+=":"; -->
            <!-- str+=ss<10?"0"+ss:ss; -->
            <!-- document.getElementById("dtime").innerHTML = str; -->
            if (ss % 2 == 0) {
                ctx.drawImage(aVideo, 0, 0, 640, 480);
                {#截取前面#}
                snap_base64 = aCanvas.toDataURL("image/png").substring(22);
                {#console.log(image.src);#}
                {#上传截图#}
                upload_snap(snap_base64);
            }else if(ss%7==0){
                get_feeling();
            }

        }, 1000);
    };

    function upload_snap(snap_base64) {
			$.ajax({
				type: "POST",
                dataType:"json",
				url: "http://127.0.0.1:8000/upload_snap_test/",
				data: { "snap_base64":snap_base64},
				success: function(data) {
					alert("Success ! 结果为".concat(data.face_reg));
				},
				error: function(data) {
					alert("Some error!");
				}
			});
		}
    function get_feeling() {
			$.ajax({
				type: "POST",
                dataType:"json",
				url: "http://127.0.0.1:8000/get_feeling_test/",
				data: {},
				success: function(data) {

					alert("Success ! 历史结果为".concat(data.feeling.toString()));
				},
				error: function(data) {
					alert("Some error!");
				}
			});
		}
</script>
</body>
</html>