<!-- showImg.html -->
<html>
<head></head>
<body>
	<p><img id="img1" src="/static/apple.jpg" width="35%" height="35%" style="position:absolute;left:10%;top:10%"></p>
	<p><img id="img2" src="/static/pear.jpeg" width="35%" height="35%" style="position:absolute;left:50%;top:10%"></p>
	<p><img id="img3" src="/static/Pinapple.jpeg" width="35%" height="35%" style="position:absolute;left:10%;top:50%"></p>
	<p><img id="img4" src="/static/orange.jpeg" width="35%" height="35%" style="position:absolute;left:50%;top:50%"></p>
	
	<script>
		var answer;
		var GotAnswer = 0;
		var oImg1 = document.getElementById('img1');
		oImg1.onclick = function(){
			GotAnswer = 1;
			alert("Apple");
		}
		var oImg2 = document.getElementById('img2');
		oImg2.onclick = function(){
			GotAnswer = 2;
			alert("pear");
		}
		var oImg3 = document.getElementById('img3');
		oImg3.onclick = function(){
			GotAnswer = 3;
			alert("pinapple");
		}
		var oImg4 = document.getElementById('img4');
		oImg4.onclick = function(){
			GotAnswer = 4;
			alert("orange");
		}
	</script>
</body>
</html>
