<!-- showImg.html -->
<html style="font-size: 16.272px;" lang="zh-CN">
<head>
	<meta charset="utf-8">
	<title></title>
	<link href="/show/templates/css/index.css" rel="stylesheet" type="text/html" />
</head>

<body style="overflow: auto;">
<div style="height:3.4375rem; background-color:#5CACEE; vertical-align:middle;z-index:20">
	<div class="container">	
		<h1 class="brand">
			<a alt="失语症辅助网站"> 失语症辅助恢复 </a>
		</h1>
	</div>
</div>

<div>
	<fieldset style="background-color:#EAEAEA">	
		<table width="400" height="420">
		<tr height="210px">
			<td width="600px"></td>
			<td> </td>
		</tr>
		<tr>	
			<td></td>
			<td><table>
				<tr>
					<td><nobr>用户名:</nobr></td>
					<td><input type="text" name="username" value="用户名" size="20" maxlength="20" onfocus="if (this.value=='用户名') this.value='';"/> </td>
					<td> </td>
					<td> </td>
				</tr>

				<tr>
					<td><nobr>密码：</nobr></td>
					<td><input type="text" name="password" value="密码" size="20" maxlength="20" onfocus="if (this.value=='密码') this.value='';"/>
					</td>
				</tr>
			</table> </td>
	
			<tr>
				<td> </td>
				<td> <table>
					<tr>
						<td><input type="submit" name="login" value="登录" /></td>
						<td><input type="button" name="logup" value="注册" /> </td>
					</tr>
				</table> </td>
			</tr>
		</tr>
			
		<p><img id="img" src="https://timgsa.baidu.com/timg?image&quality=80&size=b10000_10000&sec=1524311272&di=93c8ac3ee600b93b6f6c381762aa98af&src=http://img0.ph.126.net/vdq5imJnIEVCtYKsc6XHeQ==/1087337835051246666.jpg" width="40%" height="50%" style="position:absolute;left:48%;top:30%" /> </p>
	</fieldset>
</div>

<script language="javascript">
	function validateLogin(){
		var userName = document.frmLogin.username.value;
		var userPassword = document.frmLogin.password.value;
	}
</script>
</body>
</html>
